.avatar-animado img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center top; 
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
body {
  background-color: #87CEEB;
 
   font-family: 'Press Start 2P', cursive, sans-serif;
  font-size: 14px; 
  

  image-rendering: pixelated; 
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  
 
  letter-spacing: 0,5px;
  line-height: 1.5;


  margin: 0;
  padding: 0;
  text-align: center;
  }




.container {
  max-width: 900px;
  margin: 0 auto; 
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: left;
}
 p{color:rgb(0, 0, 0)}
 h1,h2{color:rgb(206, 206, 12)

 }
